@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@font-face {
	font-family: 'Arial', sans-serif;
	src: url('../fonts/arial.eot');
	src: local('☺'), url('../fonts/arial.woff') format('woff'), url('../fonts/arial.ttf') format('truetype'), url('../fonts/arial.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}



$white: #fff;
$black: #000;
$special-grey: #444;
$special-grey_2: #F2F2F2;
$special-grey_3: #dcdcdc;
$special-grey_4: #666;
$special-grey_5: #d9d9d9;
$special-grey_6: #ebebeb;
$green: #68B738;
$special-green: #5eaa2f;

$desktop: 1260px;
$tablet: 720px;
$mobile: 719px;

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.none {
  display: none;
}

.show {
  display: block;
}

.cat-before {
  background-image: url('../img/befoe-cat.webp');
  background-repeat: no-repeat;
}

#vk {
  fill: $special-grey_4;
  width: 28.89px;
  height: 26px;
  &:hover {
    fill: $special-green;
  }
  &:active {
    fill: $special-green;
    opacity: 0.3;
  }
}

#inst {
  fill: $special-grey_4;
  width: 22.78px;
  height: 22.78px;
  &:hover {
    fill: $special-green;
  }
  &:active {
    fill: $special-green;
    opacity: 0.3;
  }
}

#fb {
  stroke: $special-grey_4;
  width: 20px;
  height: 26.97px;
  &:hover {
    stroke: $special-green;
  }
  &:active {
    stroke: $special-green;
    opacity: 0.3;
  }
}

#logo {
  &:hover {
    opacity: 0;
  }
}


@media (min-width: $desktop) {
  .test {
    color: $green;
  }
  .hr1 {
    display: none;
  }

  .sections {
    display: none;
  }

  .container {
    width: 1220px;
    margin: 0 auto;
  }

  .hr {
    display: none;
  }

  .body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 1220px;
  }

  .main-header {
    width: 100%;
    font-family: 'Oswald', sans-serif;

    &__logo2 {
      display: none;
    }

    &__img2, &__img3 {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      width: calc(100%/2 - 40px);
      height: 658px;
      background-color: $special-green;
      background-image: url('../img/index-background-desktop.png');
      background-size: 680px auto;
      background-repeat: no-repeat;
      background-position: right top;
      z-index: -1;
    }

    &__wrapper {
      width: 1220px;
      margin: 0 auto;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      margin-top: 71px;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 100%;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    &__a {
      text-decoration: none;
      color: $white;
      &:hover {
      opacity: 0.6;
      }
      &:active {
      opacity: 0.3;
      }
      &--line {
        color: $white;
        border-bottom: 2px solid $white;
        padding-bottom: 8px;
      }
    }
    
    &__navigation {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      width: 202px;
      height: 59px;
      margin-top: 55px;
      &:hover {
      opacity: 0.8;
      }
      &:active {
      opacity: 0.6;
      }
    }

    &__link {
      font-size: 20px;
      padding-left: 35px;
      list-style: none;
    }

    &__button {
      display: none;
    }
  }

  .main {
    .programm {
      display: grid;
      margin-left: 80px;
      margin-bottom: 100px;

      &__text {
        font-size: 60px;
        line-height: 60px;
        width: 420px;
        margin-bottom: 40px;
      }

      &__text2 {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 52px;
      }

      &__button {
        padding: 14px 26px;
        line-height: 20px;
        text-decoration: none;
        text-align: center;
        font-family: inherit;
        font-size: 20px;
        align-items: center;
        color: $white;
        background-color: $green;
        &:hover {
        background-color: $special-green;
        }
      }

      &__pic {
        top: 30px;
        bottom: auto;
        width: 552px;
        height: 499px;
        margin-left: 408px;
        margin-top: -320px;
        z-index: 0;
      }
    }
  }

  .index-cotalog {
    &__item1 { 
      padding: 41px 52px 51px 55px;
      height: auto;
      background-color: $special-grey_2;
      display: grid;
    }

    &__item2 {
      padding: 47px 61px 55px 33px;
      height: auto;
      background-color: $special-grey_2;
      display: grid;
    }

    &__bar {
      padding: 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__heading {
      margin-bottom: 0%;
      font-weight: 300;
      font-size: 36px;
    }

    &__text {
      font-family: 'Arial', sans-serif;
      font-size: 16px;
      margin-bottom: 23px;
      margin-top: 0;
      line-height: 24px;
    }

    &__link {
      text-decoration: none;
      font-size: 20px;
      color: $black;
    }

    &__container {
      width: 467px;
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    &__pic1 {
      margin-right: 62px;
      margin-bottom: 39px;
    }

    &__pic2 {
      margin-right: 47px;
      margin-bottom: 39px;
    }

    &__long {
      cursor: pointer;
    }

    &__arrow {
      margin-left: 26px;
      &:hover {
        // background-image: url('../img/arrow-hover.svg');
        // background-repeat: no-repeat;
        // transition: all .3s ease;
      }
    }
  }

  .item-list {
    &__heading {
      font-weight: lighter;
      font-size: 60px;
      margin-top: 68px;
    }

    &__text {
      font-family: 'Arial', sans-serif;
      margin: 0;
      margin-top: 31px;
      font-size: 16px;
      line-height: 24px;
    }

    .item-row {
      padding: 0;
      display: flex;
      justify-content: space-between;

      &__item {
        &--first {
          position: relative;
          width: 230px;
          list-style: none;
          display: flex;
          &::after {
            right: 0;
            content: url('../img/number1.svg');
            position: absolute;
            z-index: -1; 
          }
        }

        &--second {
          position: relative;
          width: 246px;
          list-style: none;
          display: flex;
          &::after {
            right: 0;
            content: url('../img/number2.svg');
            position: absolute;
            z-index: -1; 
          }
        }

        &--third {
          position: relative;
          width: 248px;
          list-style: none;
          display: flex;
          &::after {
            right: 0;
            content: url('../img/number3.svg');
            position: absolute;
            z-index: -1;
          }
        }

        &--forth {
          position: relative;
          width: 250px;
          list-style: none;
          display: flex;
          &::after {
            right: 0;
            content: url('../img/number4.svg');
            position: absolute;
            z-index: -1; 
          }
        }
      }
    }
  }

  .example {
    background-color: $special-grey_2;
    &__container {
      width: 1220px;
      height: 400px;
      margin: 0 auto;
      padding-top: 70px;
      display: flex;
      justify-content: space-between;
    }

    // &__heading {
    //   font-size: 60px;
    //   font-weight: lighter;
    //   margin-bottom: 146px;
    // }

    &__text {
      margin: 0;
      font-family: 'Arial', sans-serif;
      font-size: 16px;
      line-height: 24px;
    }

    &__small {
      font-family: 'Arial', sans-serif;
      font-size: 14px;
      background-color: $special-grey_2;
      margin: 0 7px;
      padding: 0 10px;
      position: relative;
      bottom: 10px;
    }

    &__common {
      width: calc(50% - 21px);
      text-align: center;
    }

    &__br {
      padding-top: 15px;
      padding-bottom: 19px;
      font-size: 30px;
      line-height: 36px;
      position: relative;
      font-family: "Oswald","Arial",sans-serif;
      border: 1px solid $special-grey_3;
      border-radius: 3px;
    }

    &__flex {
      display: flex;
      justify-content: space-between;
      margin-bottom: 55px;
    }

    &__state {
      width: 365px;
      margin-top: 69px;
      text-align: center;
    }

    &__num {
      font-size: 20px;
    }

    &__num2 {
      font-size: 20px;
      position: relative;
      right: 35px;
    }

    &__space {
      display: flex;
      justify-content: space-between;
    }
    
    &__taggle {
      -webkit-appearance: none;
      width: 428px;
      height: 6px;
      margin: 0 20px;
      border: 0;
      border-radius: 6px;
      background-color: $special-grey_3;
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        position: relative;
        width: 34px;
        height: 34px;
        background-color: $green;
        border-radius: 50%;
        cursor: pointer;
        transition: all .3s ease;
        &:hover {
          background-color: $special-green;
          box-shadow: 0 0 5px $black;
        }
      }
    }
    
    &__button {
      padding: 0;
      font-family: inherit;
      font-size: 20px;
      border: none;
      text-transform: uppercase;
      cursor: pointer;
      background-color: $special-grey_2;
      border-bottom: 1px dotted $special-grey;
        &:hover {
          border-bottom: 1px solid $special-grey;
        }
        &:active {
          border-bottom: $special-grey_2
        }
    }
    
    &__conect {
      display: flex;
      align-items: center;
      justify-content: end;
    }

    &__div {
      width: 436px;
      margin: 0;
    }

    &__content {
      width: 690px;
      position: relative;
      bottom: 215px;
    }
  }

  .footer {
    background-color: $special-grey_2;

    &__section {
      display: none;
      height: 84px;
      display: flex;
      position: relative;
      padding: 64px 76px 52px;
      background-color: $white;
      max-width: 1220px;
      width: 408px;
      top: 310px;
      z-index: 2;
    }

    &__text {
      font-size: 20px;
      margin: 0;
      max-width: 163px;
    }

    &__text2 {
      font-family: Arial, sans-serif;
      font-size: 16px;
      margin: 0;
    }

    &__map {
      background-color: $special-grey_2;
    }

    &__section2 {
      background-color: $special-grey_2;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    &__list {
      display: flex;
      align-items: center;
    }

    &__item {
      list-style: none;
      margin-right: 25px;
    }

    &__link {
      font-family: Arial, sans-serif;
      font-size: 16px;
      text-decoration: none;
      color: $special-grey;
      &:active {
        opacity: 0.3;
      }
    }

    &__link-logo {
      margin-left: 22px;
      display: block;
      &:hover {
        background-image: url('../img/Лого_html-hover.svg');
        background-repeat: no-repeat;
        display: block;
      }
      &:active {
        background-image: url('../img/Лого_html-hover.svg');
        background-repeat: no-repeat;
        display: block;
        opacity: 0.3;
      }
    }

    &__div {
      fill: $special-grey_4;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    &__container {
      width: 1220px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 0;
    }

    &__logo:hover {
      opacity: 0.8;
    }
    &__logo:active {
      opacity: 0.6;
    }

    &__social {
      &--vk {
        fill: $special-grey;
        width: 28.89px;
        height: 26px;
      }
      &--inst {
        color: $special-grey;
        width: 22.78px;
        height: 22.78px;
      }
      &--fb {
        color: $special-grey;
        width: 20px;
        height: 26.97px;
      }
  
      &:hover {
        fill: $special-green;
      }
      &:active {
        fill: $special-green;
        opacity: 0.3;
      }
    }
  }

  .heading {
    font-size: 60px;
    font-weight: lighter;
    margin-bottom: 146px;
    margin: 0;
  }
  
  .divyan {
    width: 1220px;
    margin: 0 auto;
    height: 220px;
    display: flex;
    align-items: center;
  }







  //catalog desktop






  .catalog-body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 1220px;
  }

  li {
    list-style: none;
  }

  .container2 {
    width: 1220px;
    margin: 0 auto;
  }

  .catalog {
    color: $black;
    &--line {
      color: $black;
      border-bottom: 2px solid $green;
      padding-bottom: 8px;
    }
  }

  .desktop-img {
    position: relative;
    bottom: 85px;
  }

  .mobile-img {
    display: none;
  }

  .main-header{
    &--catalog {
      width: 100%;
      font-family: 'Oswald', sans-serif;
    }
  }
  .product-catalog {
    &__conection {
      // height: 350px;
      text-align: center;
    }

    &__heading {
      font-size: 60px;
      line-height: 60px;
      font-weight: lighter;
      margin-top: 74px;
      margin-bottom: 96px;
    }

    &__list {
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: 180px;
      padding: 0 30px 40px 35px;  
      display: flex;
      flex-direction: column;
      background-color: $special-grey_2;
      list-style: none;
      margin-right: 80px;
      margin-bottom: 76px;
      margin-top: 69px;
      &--white {
        width: 169px;
        margin-top: 69px;
        height: 339px;
        padding: 51px 36px 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: $white;
        list-style: none;
        border: 2px solid $special-grey_2;
      }
      &:nth-child(4) {
        margin-right: 0;
      }
    }

    &__image {
      margin-bottom: 49px;
    }

    &__unit {
      margin-bottom: 10px;
      position: relative;
      bottom: 25px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__description {
      width: 100px;
      left: 40px;
      position: relative;
      bottom: 35px;
      text-align: center;
      margin-bottom: 21.5px;
      margin-top: 0;
      font-size: 20px;
      line-height: 21px;
      font-weight: lighter;
    }

    &__line {
      margin: 0;
      padding-bottom: 15.6px;
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 16px;
      &:last-child {
        padding: 0;
      }
    }

    &__end {
      text-align: end
    }

    &__start {
      text-align: start;
    }

    &__order {
      display: block;
      color: $white;
      background-color: $green;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      padding: 7px 0 8px;
      &:hover {
        background-color: $special-green;
      }
    }

    &__another {
      padding-bottom: 23px;
      font-size: 20px;
      line-height: 22px;
      margin: 0;
    }

    &__small {
      margin: 0;
      padding-bottom: 87px;
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 18px;
    }

    &__link {
      color: $black;
      background-color: $special-grey_2;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      padding: 7px 0 8px;
      &:hover {
        background-color: $special-grey_6;
      }
    }
  }

  .additional {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $green;
      z-index: -1;
      top: 23px;
    }

    &__heading {
      padding: 0 40px;
      background-color: $white;
      font-size: 36px;
      font-weight: lighter;
      line-height: 36px;
      margin: 0 0 0 40px;
      padding-bottom: 81px;
      display: inline-block;;
    }
    
    &__description {
      width: 245px;
      padding-right: 80px;
      font-size: 20px;
      line-height: 20px;
      margin: 0;
    }

    &__text {
      width: 245px;
      font-size: 16px;
      line-height: 20px;
      font-family: Arial, sans-serif;
      margin: 0;
      &:last-child {
        width: 48px;
        padding-right: 33px;
      }
    }

    &__order {
      width: 245px;
      color: $white;
      background-color: $green;
      text-align: center;
      text-transform: uppercase;
      padding: 7px 0 8px;
      display: block;
      text-decoration: none;
      &:hover {
        background-color: $special-green;
      }
    }
    &__all {
      margin-right: 79px;
    }
    &__container {
      display: flex;
      margin-bottom: 86px;
    }

    &__block {
      display: flex;
      padding: 15px 0 16px;
      align-items: center;
      border-top: 1px solid $special-grey_3;
      border-bottom: 1px solid $special-grey_3;
    }

    &__display {
      display: flex;
    }

    &__unit {
      display: flex;
    }

    &__desktop {
      display: none;
    }
    &__photo {
      display: none;
    }

  }
}





// media tablet






@media (min-width:$tablet) and (max-width:$desktop) {
  .hr1 {
    display: none;
  }

  .sections {
    display: none;
  }

  .container {
    width: 708px;
    margin: 0 auto;
  }
  .body {
    background-color: $white;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 708px;
  }

  .heading {
    font-size: 60px;
    margin: 0;
    padding-top: 43px;
    padding-bottom: 63px;
    font-weight: lighter;
  }

  .divyan {
    width: 708px;
    margin: 0 auto;
  }

  .main-header {
    &--catalog {
      width: 100%;
      font-family: 'Oswald', sans-serif;
      padding-top: 24px;
    }

    &__logo2 {
      display: none;
    }

    &__img1, &__img3 {
      display: none;
    }

    &__button {
      display: none;
    }

    &__wrapper {
      width: 708px;
      margin: 0 auto;
    }

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 100%;
      margin: 0 auto;
    }

    &__a {
      text-decoration: none;
      color: $black;
      &:hover {
      opacity: 0.6;
      }
      &:active {
      opacity: 0.3;
      }
      &--line {
        color: $black;
        border-bottom: 2px solid $green;
        padding-bottom: 8px;
      }
    }

    &__navigation {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.6;
      }
    }

    &__link {
      font-size: 18px;
      padding-left: 35px;
      list-style: none;
      padding-top: 0px;
    }
  }

  .main {
    .programm {
      height: 855px;
      display: grid;

      &__text {
        font-size: 60px;
        margin: 0;
        line-height: 60px;
        padding-top: 60px;
        width: 414px;
        padding-bottom: 41px;
      }

      &__text2 {
        margin: 0;
        font-size: 20px;
        line-height: 20px;
        padding-bottom: 63px;
      }

      &__button {
        padding: 14px 26px;
        line-height: 20px;
        text-decoration: none;
        text-align: center;
        font-family: inherit;
        font-size: 20px;
        align-items: center;
        color: $white;
        background-color: $green;
        &:hover {
        background-color: $special-green;
        }
      }

      &__exsept {
        margin-left: 112px
      }

      &__pic {
        width: 708px;
        height: 609px;
        position: relative;
        bottom: 65px;
        z-index: -1;
      }
    }

    .index-cotalog {
      &__item1 { 
        position: relative;
        padding: 77px 62px 53px 52px;
        height: auto;
        margin-bottom: 30px;
        background-color: $special-grey_2;
        display: grid;
      }
  
      &__item2 {
        padding: 77px 28px 53px 52px;
        height: auto;
        background-color: $special-grey_2;
        display: grid;
      }
  
      &__bar {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
  
      &__heading {
        margin-top: 0;
        margin-bottom: 24px;
        font-weight: 300;
        font-size: 36px;
      }
  
      &__text {
        font-family: 'Arial', sans-serif;
        font-size: 16px;
        margin-bottom: 48px;
        margin-top: 0;
        line-height: 24px;
      }
  
      &__link {
        text-decoration: none;
        font-size: 20px;
        color: $black;
      }
      
      &__container {
        // &::after {
        //   content: '';
        //   background-image: url('../img/cat_back_tablet.svg');
        //   background-repeat: no-repeat;
        //   width: 200px;
        //   height: 211px;
        //   position: absolute;
        //   display: block;
        //   right: 0;
        //   top: 0;
        // }
        // width: 467px;
        // display: flex;
        // flex-grow: 1;
        // flex-direction: row;
        // flex-wrap: wrap;
        // align-items: flex-start;
      }
  
      &__pic1 {
        display: none;
        // width: 200px;
        // height: 211px;
      }
  
      &__pic2 {
        display: none;
        // width: 268px;
        // height: 200px;
      }
  
      &__long {
        cursor: pointer;
      }
  
      &__arrow {
        margin-left: 25px;
      }
    }

    .item-list {
      margin-bottom: 104px;
      &__heading {
        font-weight: lighter;
        font-size: 60px;
        margin-top: 45px;
      }
  
      &__text {
        font-family: 'Arial', sans-serif;
        margin: 0;
        margin-top: 31px;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .item-row {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      width: 629px;
      justify-content: space-between;

      &__item {
        &--first {
          position: relative;
          width: 230px;
          list-style: none;
          margin-bottom: 135px;
          display: flex;
          &::after {
            right: 0;
            content: url('../img/number1.svg');
            position: absolute;
            z-index: -1; 
          }
        }

        &--second {
          position: relative;
          width: 246px;
          list-style: none;
          margin-bottom: 135px;
          display: flex;
          &::after {
            right: 0;
            content: url('../img/number2.svg');
            position: absolute;
            z-index: -1; 
          }
        }

        &--third {
          position: relative;
          width: 248px;
          list-style: none;
          display: flex;
          &::after {
            right: 0;
            content: url('../img/number3.svg');
            position: absolute;
            z-index: -1;
          }
        }

        &--forth {
          position: relative;
          width: 250px;
          list-style: none;
          display: flex;
          &::after {
            right: 0;
            content: url('../img/number4.svg');
            position: absolute;
            z-index: -1; 
          }
        }
      }
    }

    .example {
      padding-bottom: 68px;
      &__container {
        width: 708px;
        margin: 0 auto;
      }
  
      &__heading {
        font-size: 60px;
        font-weight: lighter;
        margin-bottom: 146px;
      }
  
      &__text {
        margin: 0;
        padding-bottom: 54px;
        font-family: 'Arial', sans-serif;
        font-size: 16px;
        line-height: 24px;
      }
  
      &__small {
        font-family: 'Arial', sans-serif;
        font-size: 14px;
        background-color: $white;
        margin: 0 7px;
        padding: 0 10px;
        position: relative;
        bottom: 10px;
      }
  
      &__common {
        width: calc(50% - 21px);
        text-align: center;
      }
  
      &__br {
        padding-top: 15px;
        padding-bottom: 19px;
        font-size: 30px;
        line-height: 36px;
        position: relative;
        font-family: "Oswald","Arial",sans-serif;
        border: 1px solid $special-grey_3;
        border-radius: 3px;
      }
  
      &__flex {
        width: 365px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 55px;
      }
  
      &__state {
        display: flex;
        justify-content: space-between;
      }
  
      &__num {
        font-size: 20px;
      }
  
      &__num2 {
        font-size: 20px;
        margin-top: 9px;
      }
  
      &__space {
        display: flex;
        flex-wrap: wrap;
        width: 224px;
        height: 70px;
        justify-content: end;
      }
      
      &__taggle {
        -webkit-appearance: none;
        width: 428px;
        height: 6px;
        margin: 0 20px;
        border: 0;
        border-radius: 6px;
        background-color: $special-grey_3;
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 34px;
          height: 34px;
          background-color: $green;
          border-radius: 50%;
          cursor: pointer;
          transition: all .3s ease;
          &:hover {
            background-color: $special-green;
            box-shadow: 0 0 5px $black;
          }
        }
      }
      
      &__button {
        padding: 0;
        font-family: inherit;
        font-size: 20px;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        background-color: $special-grey_2;
        border-bottom: 1px dotted $special-grey;
        &:hover {
          border-bottom: 1px solid $special-grey;
        }
        &:active {
          border-bottom: $special-grey_2
        }
      }
      
      &__conect {
        display: flex;
        align-items: center;
        justify-content: end;
      }
  
      // &__div {
      //   width: 436px;
      //   margin: 0;
      // }
  
      // &__content {
      //   width: 690px;
      //   position: relative;
      //   bottom: 215px;
      // }
    }
  }  

  .footer {
    background-color: $special-grey_2;
    &__section {
      height: 84px;
      display: flex;
      position: relative;
      padding: 64px 76px 52px;
      background-color: $white;
      max-width: 1220px;
      width: 408px;
      top: 310px;
      z-index: 2;
    }

    &__text {
      font-size: 20px;
      margin: 0;
      max-width: 163px;
    }

    &__text2 {
      font-family: Arial, sans-serif;
      font-size: 16px;
      margin: 0;
    }

    &__map {
      background-color: $special-grey_2;
    }

    &__section2 {
      background-color: $special-grey_2;
      // display: flex;
      // flex-wrap: wrap;
      // justify-content: space-between;
      // align-items: center;
    }

    &__list {
      display: flex;
      align-items: center;
    }

    &__item {
      list-style: none;
      margin-right: 25px;
    }

    &__link {
      font-family: Arial, sans-serif;
      font-size: 16px;
      text-decoration: none;
      color: $special-grey;
      &:active {
        opacity: 0.3;
      }
    }

    &__link-logo {
      margin-left: 22px;
      display: block;
      &:hover {
        background-image: url('../img/Лого_html-hover.svg');
        background-repeat: no-repeat;
        display: block;
      }
      &:active {
        background-image: url('../img/Лого_html-hover.svg');
        background-repeat: no-repeat;
        display: block;
        opacity: 0.3;
      }
    }

    &__div {
      fill: $special-grey_4;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    &__container {
      width: 708px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 0;
    }

    &__logo:hover {
      opacity: 0.8;
    }
    &__logo:active {
      opacity: 0.6;
    }

    &__social {
      &--vk {
        fill: $special-grey;
        width: 28.89px;
        height: 26px;
      }
      &--inst {
        color: $special-grey;
        width: 22.78px;
        height: 22.78px;
      }
      &--fb {
        color: $special-grey;
        width: 20px;
        height: 26.97px;
      }
  
      &:hover {
        fill: $special-green;
      }
      &:active {
        fill: $special-green;
        opacity: 0.3;
      }
    }
  }







  //catalog-tablet





  .desktop-img {
    position: relative;
    bottom: 85px;
  }

  .mobile-img {
    display: none;
  }

  .container2 {
    width: 708px;
    margin: 0 auto;
  }

  .catalog-body {
    margin: 0;
  }

  .main-catalog {
    font-family: 'Oswald', sans-serif;
  }
  .product-catalog {
    &__conection {
      height: 350px;
      text-align: center;
    }

    &__heading {
      margin-top: 0;
      padding-top: 58px;
      margin-bottom: 164px;
      font-size: 60px;
      line-height: 60px;
      font-weight: lighter;
    }

    &__list {
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      padding: 0 36px 40px;  
      display: flex;
      flex-direction: column;
      background-color: $special-grey_2;
      list-style: none;
      margin-bottom: 140px;
      &--white {
        width: 244px;
        height: 334px;
        padding: 52px 36px 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: $white;
        list-style: none;
        border: 2px solid $special-grey_2;
      }
      &--last-child {
        padding: 0 36px 40px;  
        display: flex;
        flex-direction: column;
        background-color: $special-grey_2;
        list-style: none;
        margin-bottom: 68px;
      }
    }

    &__image {
      margin-bottom: 49px;
    }

    &__unit {
      margin-bottom: 33px;
      position: relative;
      bottom: 25px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__description {
      width: auto;
      position: relative;
      bottom: 35px;
      padding-bottom: 21px;
      text-align: center;
      margin: 0;
      font-size: 20px;
      line-height: 24px;
      font-weight: lighter;
    }

    &__line {
      margin: 0;
      padding-bottom: 14px;
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 16px;
      &:last-child {
        padding: 0;
      }
    }

    &__end {
      text-align: end
    }

    &__start {
      text-align: start;
    }

    &__order {
      width: 248px;
      color: $white;
      background-color: $green;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      padding: 7px 0 8px;
      &:hover {
        background-color: $special-green;
      }
    }

    &__another {
      padding-bottom: 23px;
      font-size: 20px;
      line-height: 22px;
      margin: 0;
    }

    &__small {
      margin: 0;
      padding-bottom: 87px;
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 18px;
    }

    &__link {
      color: $black;
      background-color: $special-grey_2;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      padding: 7px 0 8px;
      &:hover {
        background-color: $special-grey_6;
      }
    }
  }

  .additional {
    &__for-desktop {
      display: none;
    }

    &__heading {
      margin: 0 0 80px;
      font-size: 36px;
      line-height: 36px;
      font-weight: lighter;
      // &::before {
      //   content: "";
      //   display: block;
      //   right: 100%;
      //   position: absolute;
      //   top: 0;
      //   width: 100vw;
      //   height: 3px;
      //   margin-top: calc(1em/2 + 3px);
      //   background-color: #68b738;
      //   z-index: -1;
      // }
    }

    &__all {
      margin-bottom: 69px;
    }

    &__photo {
      display: none;
    }

    &__description {
      font-size: 20px;
      line-height: 20px;
      margin: 0;
    }

    &__text {
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 20px;
      margin: 0;
      text-align: end;
      padding-left: 50px;
      &:first-child {
        padding: 0;
      }
    }

    &__order {
      display: block;
      color: $white;
      background-color: $green;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      padding: 7px 0 8px;
      &:hover {
        background-color: $special-green;
      }
    }

    &__block {
      padding: 26px 37px 28px 38px;
      border: 1px solid $special-grey_3;
    }

    &__display {
      margin-bottom: 25px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__unit {
      display: flex;
    }

    &__desktop {
      margin-bottom: 76px;
    }
  }
}








// media mobile 





@media all and (max-width: $mobile) {
  .body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
  }

  .hr {
    display: none;
  }

  .divyan {
    background-color: $special-grey_2;
  }

  .heading {
    margin: 0;
    font-size: 36px;
    line-height: 40px;
    font-weight: lighter;
    padding-top: 27px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }

  .main-header {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    padding-top: 11px;
    border-bottom: 1px solid $special-grey_6;

    &__img1, &__img2 {
      display: none;
    }

    &__button {
      display: block;
      position: absolute;
      right: 2px;
      bottom: 14px;
      background-image: url('../img/button_mobile.svg');
      background-repeat: no-repeat;
      background-color: $white;
      border: none;
      width: 24px;
      height: 18px;
      cursor: pointer;
      text-align: center;
      align-items: center;
      transition: 0.3s;
    }

    .close {
      background-image: url('../img/close_black_36dp.svg');
      background-repeat: no-repeat;
    }

    &__wrapper {
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 auto;
    }

    &__list {
      display: none;
      position: relative;
      z-index: 1;
      background-color: #f1f1f1;
      text-align: center;
      align-items: center;
      width: 500px;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    &__link {
      display: block;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 100%;
      margin: 0 auto;
      align-items: center;
    }

    &__a {
      text-decoration: none;
      padding: 23px 20px;
      box-shadow: inset 0 1px 0 #e6e6e6;
      color: $black;
      &:hover {
      opacity: 0.6;
      }
      &:active {
      opacity: 0.3;
      }
    }

    &__navigation {
      position: relative;
      display: inline-block;
      padding: 20px 0 20px 20px;
    }

    &__logo2 {
      padding-right: 15px;
    }

  //   &__link {
  //     font-size: 18px;
  //     padding-left: 35px;
  //     list-style: none;
  //     padding-top: 0px;
  //   }
  }

  .main {
    .sections {
      &__container {
        padding: 0;
        margin: 0;
        border-top: 1px solid $special-grey_3;
      }

      &__li {
        list-style: none;
        border-bottom: 1px solid $special-grey_3;
      }

      &__link {
        display: block;
        text-align: center;
        text-decoration: none;
        color: $black;
        font-size: 20px;
        line-height: 20px;
        padding: 23px 20px;
        // box-shadow: inset 0 1px 0 #e6e6e6;

        &--disabled {
          display: block;
          text-align: center;
          text-decoration: none;
          color: $black;
          font-size: 20px;
          line-height: 20px;
          padding: 23px 20px;
        }

        &:hover {
          opacity: 0.6;
        }
        &:active {
          opacity: 0.3;
        }
      }
    }

    .programm {
      text-align: center;
      background-image: url('../img/index-background-mobile.svg');
      background-color: $special-green;
      background-repeat: no-repeat;
      background-position: top;
      display: flex;
      flex-direction: column;

      &__text {
        color: $white;
        font-size: 36px;
        margin: 0;
        line-height: 36px;
        padding-top: 27px;
        // width: 414px;
        padding-bottom: 25px;
      }

      &__text2 {
        color: $white;
        margin: 2;
        font-size: 14px;
        line-height: 14px;
      }

      &__button {
        order: 2;
        display: grid;
        padding: 11px 0;
        line-height: 18px;
        text-decoration: none;
        text-align: center;
        font-family: inherit;
        font-size: 14px;
        align-items: center;
        color: $white;
        background-color: $green;
        &:hover {
        background-color: $special-green;
        }
      }

      &__exsept {
        // margin-left: 112px
      }

      &__pic {
        order: 1;
        width: 280px;
        height: 270px;
        // position: relative;
        // bottom: 65px;
        // z-index: -1;
      }
    }

    .index-cotalog {
      &__item1 { 
        padding: 21px 33px 18px 19px;
        height: auto;
        background-color: $special-grey_2;
        display: grid;
        margin-bottom: 20px;
      }
  
      &__item2 {
        padding: 24px 33px 18px 19px;
        height: auto;
        background-color: $special-grey_2;
        display: grid;
        margin-bottom: 27px;
      }
  
      &__bar {
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0;
      }
  
      &__heading {
        font-weight: 300;
        padding: 6px 0;
        margin: 0;
        line-height: 38px;
      }
  
      &__text {
        font-family: 'Arial', sans-serif;
        font-size: 14px;
        margin: 0;
        line-height: 18px;
        padding: 22px 0;
        border-bottom: 1px solid $special-grey_5;
      }
  
      &__link {
        text-decoration: none;
        font-size: 16px;
        color: $black;
      }
  
      &__container {
        display: flex;
        flex-wrap: wrap;
      }
  
      &__pic1 {
        width: 50px;
        height: 53px;
        margin-right: 19px;
        // margin-bottom: 39px;
      }
  
      &__pic2 {
        width: 67px;
        height: 50px;
        margin-right: 11px;
        // margin-bottom: 39px;
      }
  
      &__long {
        padding-top: 15px;
        cursor: pointer;
      }
  
      &__arrow {
        margin-left: 16px;
      }
    }

    .item-list {
      &__heading {
        font-weight: lighter;
        font-size: 36px;
        line-height: 40px;
        margin: 0;
        padding-bottom: 38px;
      }
  
      &__text {
        font-family: 'Arial', sans-serif;
        margin: 0;
        font-size: 14px;
        line-height: 18px;
      }
    }

    .item-row {
      margin: 0;
      margin-bottom: 22px;
      padding: 0;
      display: grid;
      justify-content: space-between;

      &__container {
        display: flex;
        align-items: center;
      }

      &__image {
        width: 60px;
        height: 60px;
        margin-right: 20px;
      }

      &__item {
        display: flex;
        flex-wrap: wrap;
        &--first {
          margin-bottom: 20px;
          display: flex;
          position: relative;
          list-style: none;
        }

        &--second {
          margin-bottom: 20px;
          position: relative;
          list-style: none;
          display: flex;
        }

        &--third {
          margin-bottom: 20px;
          position: relative;
          list-style: none;
          display: flex;
        }

        &--forth {
          margin-bottom: 20px;
          position: relative;
          list-style: none;
          display: flex;
        }
      }
    }

    .example {
      background-color: $special-grey_2;
      &__container {
        margin: 0 auto;
        padding-top: 33px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 31px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
  
      &__text {
        margin: 0;
        font-family: 'Arial', sans-serif;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 25px;
      }
  
      &__small {
        font-family: 'Arial', sans-serif;
        font-size: 14px;
        background-color: $special-grey_2;
        margin: 0 20px;
        padding: 0 10px;
        position: relative;
        bottom: 10px;
      }
  
      &__common {
        width: calc(50% - 21px);
        text-align: center;
      }
  
      &__br {
        padding-top: 15px;
        padding-bottom: 19px;
        font-size: 24px;
        line-height: 24px;
        position: relative;
        font-family: "Oswald","Arial",sans-serif;
        border: 1px solid $special-grey_3;
        border-radius: 3px;
      }
  
      &__flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
      }
  
      // &__state {
      //   width: 365px;
      //   margin-top: 69px;
      //   text-align: center;
      // }
  
      &__num {
        font-size: 14px;
        line-height: 20px;
      }
  
      &__num2 {
        font-size: 14px;
        list-style: 20px;
      }
  
      &__space {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      &__image {
        width: 311px;
        height: 232px;
      }
      
      &__taggle {
        -webkit-appearance: none;
        width: 84px;
        height: 14px;
        margin: 0 13px;
        border: 1px solid $special-grey_3;
        background-color: $white;
        border-radius: 10px;
        // &::-webkit-slider-runnable-track {
        //   height: 10px;
        //   -webkit-appearance: none;
        //   color: #13bba4;
        //   margin-top: -1px;
        // }
        // &::-webkit-slider-thumb {
        //   width: 10px;
        //   -webkit-appearance: none;
        //   height: 10px;
        //   cursor: ew-resize;
        //   background: #434343;
        //   box-shadow: -80px 0 0 80px #43e5f7;
        // }
        // &::-moz-range-progress {
        //   background-color: #43e5f7;
        // }
        // &::-moz-range-track {
        //   background-color: #9a905d;
        // }
        
        // &::-ms-fill-lower {
        //   background-color: #43e5f7;
        // }
        
        // &::-ms-fill-upper {
        //   background-color: #9a905d;
        // }
      }
      
      &__button {
        padding: 0;
        font-family: inherit;
        font-size: 16px;
        line-height: 20px;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        background-color: $special-grey_2;
      }
      
      &__conect {
        margin-top: 27px;
        text-align: center;
      }
  
      &__div {
        margin-bottom: 42px;
      }
  
      &__content {
        margin: 0 auto;
      }
    }
  }

  .footer {
    background-color: $special-grey_2;
    // &__section {
    //   height: 84px;
    //   display: flex;
    //   position: relative;
    //   padding: 64px 76px 52px;
    //   background-color: $white;
    //   max-width: 1220px;
    //   width: 408px;
    //   top: 310px;
    //   z-index: 2;
    // }

  //   &__text {
  //     font-size: 20px;
  //     margin: 0;
  //     max-width: 163px;
  //   }

  //   &__text2 {
  //     font-family: Arial, sans-serif;
  //     font-size: 16px;
  //     margin: 0;
  //   }

    &__map {
      background-color: $special-grey_2;
    }

    &__section2 {
      background-color: $special-grey_2;
      display: grid;
      align-items: center;
    }

    &__list {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 20px 0;
      justify-content: center;
      border-top: 1px solid $special-grey_5;
      border-bottom: 1px solid $special-grey_5;
    }

    &__item {
      list-style: none;
      margin-right: 36px;
      &:last-child {
        margin-right: 0;
      }
    }

    &__link {
      font-family: Arial, sans-serif;
      font-size: 16px;
      text-decoration: none;
      color: $special-grey;
      &:active {
        opacity: 0.3;
      }
    }

    &__link-logo {
      display: block;
      &:hover {
        background-image: url('../img/Лого_html-hover.svg');
        background-repeat: no-repeat;
        display: block;
      }
      &:active {
        background-image: url('../img/Лого_html-hover.svg');
        background-repeat: no-repeat;
        display: block;
        opacity: 0.3;
      }
    }

    &__div {
      padding: 22px 0;
      fill: $special-grey_4;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }

    &__container {
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      // margin: 0 auto;
      // display: flex;
      // justify-content: space-between;
      align-items: center;
    }

    &__logo {
      padding-bottom: 29px;
      padding-top: 39px;
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.6;
      }
    }

    

    &__social {
      &--vk {
        fill: $special-grey;
        width: 28.89px;
        height: 26px;
      }
      &--inst {
        color: $special-grey;
        width: 22.78px;
        height: 22.78px;
      }
      &--fb {
        color: $special-grey;
        width: 20px;
        height: 26.97px;
      }
  
      &:hover {
        fill: $special-green;
      }
      &:active {
        fill: $special-green;
        opacity: 0.3;
      }
    }
  }
  .sections {
    display: none;
  }

  .none {
    display: none;
  }

  .show {
    display: block;
  }

  .close {
    // background-image: url('../img/close_black_36dp.svg');
    // background-repeat: no-repeat;
    // position: relative;
    // bottom: 8px;
    // right: 6px;
    position: absolute;
    width: 29px;
    height: 29px;
  }







  //catalog






  
  .for-desktop {
    display: none;
  }

  .main-header {
    &--catalog {
      width: 100%;
      font-family: 'Oswald', sans-serif;
      padding-top: 11px;
      border-bottom: 1px solid $special-grey_6;
    }
  }  

  .desktop-img {
    display: none;
  }

  .catalog-body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    text-transform: uppercase;
  }

  .container2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .fr {
    margin: auto 0;
  }

  li {
    list-style: none;
  }

  .main-catalog {
    .product-catalog {
      &__heading {
        padding: 27px 0 41px;
        font-weight: lighter;
        font-size: 36px;
        line-height: 36px;
        margin: 0;
        text-transform: none;
      }

      &__list {
        padding: 0;
        margin: 0;
      }

      &__item {
        list-style: none;
        padding-bottom: 25px;
        border-top: 1px solid $special-grey_6;
        border-bottom: 1px solid $special-grey_6;
      }

      &__conection {
        display: grid;
        grid-template-columns: min-content 1fr;
      }

      &__end {
        text-align: end;
      }

      &__unit {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      &__description {
        margin: 0;
        padding-bottom: 18px;
        font-size: 16px;
        line-height: 20px;
        font-weight: lighter;
      }

      &__line {
        font-family: Arial, sans-serif;
        text-transform: none;
        margin: 0;
        font-size: 12px;
        line-height: 16px;
      }

      &__order {
        padding: 6px 0 8px;
        display: grid;
        text-align: center;
        font-size: 16px;
        text-decoration: none;
        color: $white;
        background-color: $green;
        &:hover {
          background-color: $special-green;
        }
      }

      &__image {
        margin: 26px 0 23px;
        text-align: center;
        align-items: center;
      }

      &__another {
        margin-top: 0;
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
      }

      &__small {
        margin-top: 0;
        margin-bottom: 21px;
        font-family: Arial, sans-serif;
        text-transform: none;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
      }

      &__link {
        text-decoration: none;
        color: $black;
        padding: 6px 0 8px;
        display: grid;
        background-color: $special-grey_2;
        text-align: center;
        &:hover {
          background-color: $special-grey_6;
        }
      }
    }

    .additional {
      &__for-desktop {
        display: none;
      }
      &__desktop {
        display: none;
      }

      &__heading {
        font-size: 24px;
        line-height: 24px;
        font-weight: lighter;
      }

      &__unit {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 14px;
        text-transform: none;
      }

      &__description {
        font-size: 16px;
        line-height: 16px;
        margin: 0;
      }

      &__block {
        border-top: 1px solid $special-grey_6;
        border-bottom: 1px solid $special-grey_6;
        padding: 13px 0 19px;
      }

      &__order {
        padding: 6px 0 8px;
        display: grid;
        text-align: center;
        font-size: 16px;
        text-decoration: none;
        color: $white;
        background-color: $green;
        &:hover {
          background-color: $special-green;
        }
      }

      &__background {
        display: flex;
        justify-content: center;
        padding: 39px 0 35px;
      }
    }

    .sections {
      &__container {
        padding: 0;
        margin: 0;
        border-top: 1px solid $special-grey_3;
      }

      &__li {
        list-style: none;
        border-bottom: 1px solid $special-grey_3;
      }

      &__link {
        display: block;
        text-align: center;
        text-decoration: none;
        color: $black;
        font-size: 20px;
        line-height: 20px;
        padding: 23px 20px;
        // box-shadow: inset 0 1px 0 #e6e6e6;

        &--disabled {
          display: block;
          text-align: center;
          text-decoration: none;
          color: $black;
          font-size: 20px;
          line-height: 20px;
          padding: 23px 20px;
        }

        &:hover {
          opacity: 0.6;
        }
        &:active {
          opacity: 0.3;
        }
      }
    }
  }
}

