@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

$white: #fff;
$black: #000;
$special-grey: #444;
$special-grey_2: #F2F2F2;
$green: #68B738;
$special-green: #5eaa2f;

$desktop: 1440px;
$tablet: 768px;
$mobile: 767px;

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1220px;
  margin: 0 auto;
}

// @media (min-width: $desktop) {
  .body {
    font-family: 'Oswald', sans-serif;
    // width: 1220px;
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 1220px;
    background-image: url('../img/index-background-desktop.png');
    background-repeat: no-repeat;
    background-position: 100% 0;
  }

  .main-header {
    width: 100%;
    font-family: 'Oswald', sans-serif;

    &__wrapper {
      width: 1220px;
      margin: 0 auto;
    }

    ul {
      display: flex;
      justify-content: space-between;
      margin-top: 71px;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 100%;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
      color: $white;
    }

    &__navigation {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      width: 202px;
      height: 59px;
      margin-top: 55px;
    }

    &__link {
      font-size: 20px;
      padding-left: 35px;
      list-style: none;
    }

    .menu-button {
      display: none;
    }
  }


  .main {
    
    .programm {
      display: grid;
      margin-left: 80px;
      margin-bottom: 146px;

      &__text {
        font-size: 60px;
        line-height: 60px;
        width: 420px;
        margin-bottom: 40px;
      }

      &__text2 {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 52px;
      }

      &__button {
        width: 244px;
        height: 54px;
        font-family: inherit;
        font-size: 20px;
        border: none;
        align-items: center;
        padding: 14px 26px;
        color: $white;
        background-color: $green;
        cursor: pointer;
      }

      &__pic {
        top: 30px;
        bottom: auto;
        width: 552px;
        height: 499px;
        margin-left: 408px;
        margin-top: -370px;
        z-index: 0;
      }
    }
  }

  .index-cotalog {
    &__item { 
      padding: 55px 42px;
      height: auto;
      background-color: $special-grey_2;
      display: grid;
    }

    &__bar {
      padding: 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    h2 {
      font-weight: lighter;
      font-size: 36px;
    }

    &__text {
      font-size: 16px;
    }

    a {
      text-decoration: none;
      font-size: 20px;
      color: $black;
    }

    &__container {
      width: 467px;
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    &__pic1 {
      margin-right: 60px;
    }

    &__pic2 {
      margin-right: 47px;
    }
  }

  .item-list {
    h3 {
      font-weight: lighter;
      font-size: 60px;
    }
    p {
      font-size: 12px;
    }

    .item-row {
      padding: 0;
      display: flex;
      justify-content: space-between;

      &__item {
        width: 20%;
        list-style: none;
      }
    }
  }

  .example {
    background-color: $special-grey_2;
    &__heading {
      font-size: 60px;
      font-weight: lighter;
    }

    &__container {
      width: 1220px;
      margin: 0 auto;
    }
  }

  .cat-advantage {
    background-color: $special-grey_2;

    &__container {
      width: 1220px;
      margin: 0 auto;
    }
  }

  .footer {
    background-color: $special-grey_2;
    &__section {
      display: flex;
      position: relative;
      padding: 64px 76px 52px;
      background-color: $white;
      max-width: 1220px;
      width: 408px;
      top: 330px;
      z-index: 2;
    }

    &__text {
      font-size: 20px;
      margin: 0;
      max-width: 163px;
    }

    &__text2 {
      margin: 0;
    }

    &__map {
      background-color: $special-grey_2;
    }

    &__section2 {
      background-color: $special-grey_2;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    &__list {
      display: flex;
    }

    &__item {
      list-style: none;
    }

    &__link {
      text-decoration: none;
      color: $special-grey;
    }

    &__container {
      width: 1220px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
// }

// @media (max-width: $mobile) {
//   .main-header {
//     ul {
//       display: none;
//     }

//     &__logo {
//       display: none;
//       background-image: url('../img/logo-mobile.png');
//     }
//     .menu-button {
//       display: block;
//     }
//   }
// }

