@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@font-face {
  font-family: "Arial", sans-serif;
  src: url("../fonts/arial.eot");
  src: local("☺"), url("../fonts/arial.woff") format("woff"), url("../fonts/arial.ttf") format("truetype"), url("../fonts/arial.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.none {
  display: none;
}

.show {
  display: block;
}

.cat-before {
  background-image: url("../img/befoe-cat.webp");
  background-repeat: no-repeat;
}

#vk {
  fill: #666;
  width: 28.89px;
  height: 26px;
}
#vk:hover {
  fill: #5eaa2f;
}
#vk:active {
  fill: #5eaa2f;
  opacity: 0.3;
}

#inst {
  fill: #666;
  width: 22.78px;
  height: 22.78px;
}
#inst:hover {
  fill: #5eaa2f;
}
#inst:active {
  fill: #5eaa2f;
  opacity: 0.3;
}

#fb {
  stroke: #666;
  width: 20px;
  height: 26.97px;
}
#fb:hover {
  stroke: #5eaa2f;
}
#fb:active {
  stroke: #5eaa2f;
  opacity: 0.3;
}

#logo:hover {
  opacity: 0;
}

@media (min-width: 1260px) {
  .hr1 {
    display: none;
  }

  .sections {
    display: none;
  }

  .container {
    width: 1220px;
    margin: 0 auto;
  }

  .hr {
    display: none;
  }

  .body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 1220px;
  }

  .main-header {
    width: 100%;
    font-family: "Oswald", sans-serif;
  }
  .main-header__logo2 {
    display: none;
  }
  .main-header__img2, .main-header__img3 {
    display: none;
  }
  .main-header::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc(100%/2 - 40px);
    height: 658px;
    background-color: #5eaa2f;
    background-image: url("../img/index-background-desktop.png");
    background-size: 680px auto;
    background-repeat: no-repeat;
    background-position: right top;
    z-index: -1;
  }
  .main-header__wrapper {
    width: 1220px;
    margin: 0 auto;
  }
  .main-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 71px;
  }
  .main-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .main-header__a {
    text-decoration: none;
    color: #fff;
  }
  .main-header__a:hover {
    opacity: 0.6;
  }
  .main-header__a:active {
    opacity: 0.3;
  }
  .main-header__a--line {
    color: #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 8px;
  }
  .main-header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-header__logo {
    width: 202px;
    height: 59px;
    margin-top: 55px;
  }
  .main-header__logo:hover {
    opacity: 0.8;
  }
  .main-header__logo:active {
    opacity: 0.6;
  }
  .main-header__link {
    font-size: 20px;
    padding-left: 35px;
    list-style: none;
  }
  .main-header__button {
    display: none;
  }

  .main .programm {
    display: -ms-grid;
    display: grid;
    margin-left: 80px;
    margin-bottom: 100px;
  }
  .main .programm__text {
    font-size: 60px;
    line-height: 60px;
    width: 420px;
    margin-bottom: 40px;
  }
  .main .programm__text2 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 52px;
  }
  .main .programm__button {
    padding: 14px 26px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    background-color: #68B738;
  }
  .main .programm__button:hover {
    background-color: #5eaa2f;
  }
  .main .programm__pic {
    top: 30px;
    bottom: auto;
    width: 552px;
    height: 499px;
    margin-left: 408px;
    margin-top: -320px;
    z-index: 0;
  }

  .index-cotalog__item1 {
    padding: 41px 52px 51px 55px;
    height: auto;
    background-color: #F2F2F2;
    display: -ms-grid;
    display: grid;
  }
  .index-cotalog__item2 {
    padding: 47px 61px 55px 33px;
    height: auto;
    background-color: #F2F2F2;
    display: -ms-grid;
    display: grid;
  }
  .index-cotalog__bar {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .index-cotalog__heading {
    margin-bottom: 0%;
    font-weight: 300;
    font-size: 36px;
  }
  .index-cotalog__text {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    margin-bottom: 23px;
    margin-top: 0;
    line-height: 24px;
  }
  .index-cotalog__link {
    text-decoration: none;
    font-size: 20px;
    color: #000;
  }
  .index-cotalog__container {
    width: 467px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .index-cotalog__pic1 {
    margin-right: 62px;
    margin-bottom: 39px;
  }
  .index-cotalog__pic2 {
    margin-right: 47px;
    margin-bottom: 39px;
  }
  .index-cotalog__long {
    cursor: pointer;
  }
  .index-cotalog__arrow {
    margin-left: 26px;
  }
  .item-list__heading {
    font-weight: lighter;
    font-size: 60px;
    margin-top: 68px;
  }
  .item-list__text {
    font-family: "Arial", sans-serif;
    margin: 0;
    margin-top: 31px;
    font-size: 16px;
    line-height: 24px;
  }
  .item-list .item-row {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .item-list .item-row__item--first {
    position: relative;
    width: 230px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .item-list .item-row__item--first::after {
    right: 0;
    content: url("../img/number1.svg");
    position: absolute;
    z-index: -1;
  }
  .item-list .item-row__item--second {
    position: relative;
    width: 246px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .item-list .item-row__item--second::after {
    right: 0;
    content: url("../img/number2.svg");
    position: absolute;
    z-index: -1;
  }
  .item-list .item-row__item--third {
    position: relative;
    width: 248px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .item-list .item-row__item--third::after {
    right: 0;
    content: url("../img/number3.svg");
    position: absolute;
    z-index: -1;
  }
  .item-list .item-row__item--forth {
    position: relative;
    width: 250px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .item-list .item-row__item--forth::after {
    right: 0;
    content: url("../img/number4.svg");
    position: absolute;
    z-index: -1;
  }

  .example {
    background-color: #F2F2F2;
  }
  .example__container {
    width: 1220px;
    margin: 0 auto;
    padding-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .example__text {
    margin: 0;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
  }
  .example__small {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    background-color: #F2F2F2;
    margin: 0 7px;
    padding: 0 10px;
    position: relative;
    bottom: 10px;
  }
  .example__common {
    width: calc(50% - 21px);
    text-align: center;
  }
  .example__br {
    padding-top: 15px;
    padding-bottom: 19px;
    font-size: 30px;
    line-height: 36px;
    position: relative;
    font-family: "Oswald", "Arial", sans-serif;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
  }
  .example__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 55px;
  }
  .example__state {
    width: 365px;
    margin-top: 69px;
    text-align: center;
  }
  .example__num {
    font-size: 20px;
  }
  .example__num2 {
    font-size: 20px;
    position: relative;
    right: 35px;
  }
  .example__space {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .example__taggle {
    -webkit-appearance: none;
    width: 428px;
    height: 6px;
    margin: 0 20px;
    border: 0;
    background-color: #dcdcdc;
  }
  .example__button {
    padding: 0;
    font-family: inherit;
    font-size: 20px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #F2F2F2;
    border-bottom: 1px dotted #444;
  }
  .example__button:hover {
    border-bottom: 1px solid #444;
  }
  .example__button:active {
    border-bottom: #F2F2F2;
  }
  .example__conect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .example__div {
    width: 436px;
    margin: 0;
  }
  .example__content {
    width: 690px;
    position: relative;
    bottom: 215px;
  }

  .footer {
    background-color: #F2F2F2;
  }
  .footer__section {
    display: none;
    height: 84px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: 64px 76px 52px;
    background-color: #fff;
    max-width: 1220px;
    width: 408px;
    top: 310px;
    z-index: 2;
  }
  .footer__text {
    font-size: 20px;
    margin: 0;
    max-width: 163px;
  }
  .footer__text2 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
  }
  .footer__map {
    background-color: #F2F2F2;
  }
  .footer__section2 {
    background-color: #F2F2F2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__item {
    list-style: none;
    margin-right: 25px;
  }
  .footer__link {
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #444;
  }
  .footer__link:active {
    opacity: 0.3;
  }
  .footer__link-logo {
    margin-left: 22px;
    display: block;
  }
  .footer__link-logo:hover {
    background-image: url("../img/Лого_html-hover.svg");
    background-repeat: no-repeat;
    display: block;
  }
  .footer__link-logo:active {
    background-image: url("../img/Лого_html-hover.svg");
    background-repeat: no-repeat;
    display: block;
    opacity: 0.3;
  }
  .footer__div {
    fill: #666;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .footer__container {
    width: 1220px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 0;
  }
  .footer__logo:hover {
    opacity: 0.8;
  }
  .footer__logo:active {
    opacity: 0.6;
  }
  .footer__social--vk {
    fill: #444;
    width: 28.89px;
    height: 26px;
  }
  .footer__social--inst {
    color: #444;
    width: 22.78px;
    height: 22.78px;
  }
  .footer__social--fb {
    color: #444;
    width: 20px;
    height: 26.97px;
  }
  .footer__social:hover {
    fill: #5eaa2f;
  }
  .footer__social:active {
    fill: #5eaa2f;
    opacity: 0.3;
  }

  .heading {
    font-size: 60px;
    font-weight: lighter;
    margin-bottom: 146px;
    margin: 0;
  }

  .divyan {
    width: 1220px;
    margin: 0 auto;
    height: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 720px) and (max-width: 1260px) {
  .hr1 {
    display: none;
  }

  .sections {
    display: none;
  }

  .container {
    width: 708px;
    margin: 0 auto;
  }

  .body {
    background-color: #fff;
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 708px;
  }

  .heading {
    font-size: 60px;
    margin: 0;
    padding-top: 43px;
    padding-bottom: 63px;
    font-weight: lighter;
  }

  .divyan {
    width: 708px;
    margin: 0 auto;
  }

  .main-header {
    width: 100%;
    font-family: "Oswald", sans-serif;
    padding-top: 24px;
  }
  .main-header__logo2 {
    display: none;
  }
  .main-header__img1, .main-header__img3 {
    display: none;
  }
  .main-header__button {
    display: none;
  }
  .main-header__wrapper {
    width: 708px;
    margin: 0 auto;
  }
  .main-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
  }
  .main-header__a {
    text-decoration: none;
    color: #000;
  }
  .main-header__a:hover {
    opacity: 0.6;
  }
  .main-header__a:active {
    opacity: 0.3;
  }
  .main-header__a--line {
    color: #000;
    border-bottom: 2px solid #68B738;
    padding-bottom: 8px;
  }
  .main-header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-header__logo:hover {
    opacity: 0.8;
  }
  .main-header__logo:active {
    opacity: 0.6;
  }
  .main-header__link {
    font-size: 18px;
    padding-left: 35px;
    list-style: none;
    padding-top: 0px;
  }

  .main .programm {
    height: 855px;
    display: -ms-grid;
    display: grid;
  }
  .main .programm__text {
    font-size: 60px;
    margin: 0;
    line-height: 60px;
    padding-top: 60px;
    width: 414px;
    padding-bottom: 41px;
  }
  .main .programm__text2 {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 63px;
  }
  .main .programm__button {
    padding: 14px 26px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    background-color: #68B738;
  }
  .main .programm__button:hover {
    background-color: #5eaa2f;
  }
  .main .programm__exsept {
    margin-left: 112px;
  }
  .main .programm__pic {
    width: 708px;
    height: 609px;
    position: relative;
    bottom: 65px;
    z-index: -1;
  }
  .main .index-cotalog__item1 {
    position: relative;
    padding: 77px 62px 53px 52px;
    height: auto;
    margin-bottom: 30px;
    background-color: #F2F2F2;
    display: -ms-grid;
    display: grid;
  }
  .main .index-cotalog__item2 {
    padding: 77px 28px 53px 52px;
    height: auto;
    background-color: #F2F2F2;
    display: -ms-grid;
    display: grid;
  }
  .main .index-cotalog__bar {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .index-cotalog__heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 300;
    font-size: 36px;
  }
  .main .index-cotalog__text {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    margin-bottom: 48px;
    margin-top: 0;
    line-height: 24px;
  }
  .main .index-cotalog__link {
    text-decoration: none;
    font-size: 20px;
    color: #000;
  }
  .main .index-cotalog__pic1 {
    display: none;
  }
  .main .index-cotalog__pic2 {
    display: none;
  }
  .main .index-cotalog__long {
    cursor: pointer;
  }
  .main .index-cotalog__arrow {
    margin-left: 25px;
  }
  .main .item-list {
    margin-bottom: 104px;
  }
  .main .item-list__heading {
    font-weight: lighter;
    font-size: 60px;
    margin-top: 45px;
  }
  .main .item-list__text {
    font-family: "Arial", sans-serif;
    margin: 0;
    margin-top: 31px;
    font-size: 16px;
    line-height: 24px;
  }
  .main .item-row {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 629px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .item-row__item--first {
    position: relative;
    width: 230px;
    list-style: none;
    margin-bottom: 135px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .item-row__item--first::after {
    right: 0;
    content: url("../img/number1.svg");
    position: absolute;
    z-index: -1;
  }
  .main .item-row__item--second {
    position: relative;
    width: 246px;
    list-style: none;
    margin-bottom: 135px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .item-row__item--second::after {
    right: 0;
    content: url("../img/number2.svg");
    position: absolute;
    z-index: -1;
  }
  .main .item-row__item--third {
    position: relative;
    width: 248px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .item-row__item--third::after {
    right: 0;
    content: url("../img/number3.svg");
    position: absolute;
    z-index: -1;
  }
  .main .item-row__item--forth {
    position: relative;
    width: 250px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .item-row__item--forth::after {
    right: 0;
    content: url("../img/number4.svg");
    position: absolute;
    z-index: -1;
  }
  .main .example {
    padding-bottom: 68px;
  }
  .main .example__container {
    width: 708px;
    margin: 0 auto;
  }
  .main .example__heading {
    font-size: 60px;
    font-weight: lighter;
    margin-bottom: 146px;
  }
  .main .example__text {
    margin: 0;
    padding-bottom: 54px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
  }
  .main .example__small {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    background-color: #fff;
    margin: 0 7px;
    padding: 0 10px;
    position: relative;
    bottom: 10px;
  }
  .main .example__common {
    width: calc(50% - 21px);
    text-align: center;
  }
  .main .example__br {
    padding-top: 15px;
    padding-bottom: 19px;
    font-size: 30px;
    line-height: 36px;
    position: relative;
    font-family: "Oswald", "Arial", sans-serif;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
  }
  .main .example__flex {
    width: 365px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 55px;
  }
  .main .example__state {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .example__num {
    font-size: 20px;
  }
  .main .example__num2 {
    font-size: 20px;
    margin-top: 9px;
  }
  .main .example__space {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 224px;
    height: 70px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .main .example__taggle {
    -webkit-appearance: none;
    width: 428px;
    height: 6px;
    margin: 0 20px;
    border: 0;
    background-color: #dcdcdc;
  }
  .main .example__button {
    padding: 0;
    font-family: inherit;
    font-size: 20px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #F2F2F2;
    border-bottom: 1px dotted #444;
  }
  .main .example__button:hover {
    border-bottom: 1px solid #444;
  }
  .main .example__button:active {
    border-bottom: #F2F2F2;
  }
  .main .example__conect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .footer {
    background-color: #F2F2F2;
  }
  .footer__section {
    height: 84px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: 64px 76px 52px;
    background-color: #fff;
    max-width: 1220px;
    width: 408px;
    top: 310px;
    z-index: 2;
  }
  .footer__text {
    font-size: 20px;
    margin: 0;
    max-width: 163px;
  }
  .footer__text2 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
  }
  .footer__map {
    background-color: #F2F2F2;
  }
  .footer__section2 {
    background-color: #F2F2F2;
  }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__item {
    list-style: none;
    margin-right: 25px;
  }
  .footer__link {
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #444;
  }
  .footer__link:active {
    opacity: 0.3;
  }
  .footer__link-logo {
    margin-left: 22px;
    display: block;
  }
  .footer__link-logo:hover {
    background-image: url("../img/Лого_html-hover.svg");
    background-repeat: no-repeat;
    display: block;
  }
  .footer__link-logo:active {
    background-image: url("../img/Лого_html-hover.svg");
    background-repeat: no-repeat;
    display: block;
    opacity: 0.3;
  }
  .footer__div {
    fill: #666;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .footer__container {
    width: 708px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 0;
  }
  .footer__logo:hover {
    opacity: 0.8;
  }
  .footer__logo:active {
    opacity: 0.6;
  }
  .footer__social--vk {
    fill: #444;
    width: 28.89px;
    height: 26px;
  }
  .footer__social--inst {
    color: #444;
    width: 22.78px;
    height: 22.78px;
  }
  .footer__social--fb {
    color: #444;
    width: 20px;
    height: 26.97px;
  }
  .footer__social:hover {
    fill: #5eaa2f;
  }
  .footer__social:active {
    fill: #5eaa2f;
    opacity: 0.3;
  }

  .desktop-img {
    position: relative;
    bottom: 85px;
  }

  .mobile-img {
    display: none;
  }

  .container2 {
    width: 708px;
    margin: 0 auto;
  }

  .catalog-body {
    margin: 0;
  }

  .main-catalog {
    font-family: "Oswald", sans-serif;
  }

  .product-catalog__conection {
    text-align: center;
  }
  .product-catalog__heading {
    margin-top: 0;
    padding-top: 58px;
    margin-bottom: 164px;
    font-size: 60px;
    line-height: 60px;
    font-weight: lighter;
  }
  .product-catalog__list {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product-catalog__item {
    padding: 0 36px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #F2F2F2;
    list-style: none;
    margin-bottom: 140px;
  }
  .product-catalog__item--white {
    padding: 0 36px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    list-style: none;
    border: 2px solid #F2F2F2;
  }
  .product-catalog__unit {
    margin-bottom: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product-catalog__description {
    width: auto;
    padding-bottom: 21px;
    text-align: center;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: lighter;
  }
  .product-catalog__line {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
  }
  .product-catalog__end {
    text-align: end;
  }
  .product-catalog__start {
    text-align: start;
  }
  .product-catalog__order {
    width: 248px;
    color: #fff;
    background-color: #68B738;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 7px 0 8px;
  }
  .product-catalog__order:hover {
    background-color: #5eaa2f;
  }
  .product-catalog__another {
    font-size: 20px;
    line-height: 22px;
    margin: 0;
  }
  .product-catalog__small {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
  }
  .product-catalog__link {
    width: 248px;
    color: #000;
    background-color: #F2F2F2;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 7px 0 8px;
  }
  .product-catalog__link:hover {
    background-color: #ebebeb;
  }

  .additional__photo {
    display: none;
  }
}
@media all and (max-width: 719px) {
  .body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
  }

  .hr {
    display: none;
  }

  .divyan {
    background-color: #F2F2F2;
  }

  .heading {
    margin: 0;
    font-size: 36px;
    line-height: 40px;
    font-weight: lighter;
    padding-top: 27px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }

  .main-header {
    width: 100%;
    font-family: "Oswald", sans-serif;
    padding-top: 11px;
    border-bottom: 1px solid #ebebeb;
  }
  .main-header__img1, .main-header__img2 {
    display: none;
  }
  .main-header__button {
    display: block;
    position: absolute;
    right: 2px;
    bottom: 14px;
    background-image: url("../img/button_mobile.svg");
    background-repeat: no-repeat;
    background-color: #fff;
    border: none;
    width: 24px;
    height: 18px;
    cursor: pointer;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .main-header .close {
    background-image: url("../img/close_black_36dp.svg");
    background-repeat: no-repeat;
  }
  .main-header__wrapper {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
  .main-header__list {
    display: none;
    position: relative;
    z-index: 1;
    background-color: #f1f1f1;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 500px;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .main-header__link {
    display: block;
  }
  .main-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-header__a {
    text-decoration: none;
    padding: 23px 20px;
    -webkit-box-shadow: inset 0 1px 0 #e6e6e6;
            box-shadow: inset 0 1px 0 #e6e6e6;
    color: #000;
  }
  .main-header__a:hover {
    opacity: 0.6;
  }
  .main-header__a:active {
    opacity: 0.3;
  }
  .main-header__navigation {
    position: relative;
    display: inline-block;
    padding: 20px 0 20px 20px;
  }
  .main-header__logo2 {
    padding-right: 15px;
  }

  .main .sections__container {
    padding: 0;
    margin: 0;
    border-top: 1px solid #dcdcdc;
  }
  .main .sections__li {
    list-style: none;
    border-bottom: 1px solid #dcdcdc;
  }
  .main .sections__link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    line-height: 20px;
    padding: 23px 20px;
  }
  .main .sections__link--disabled {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    line-height: 20px;
    padding: 23px 20px;
  }
  .main .sections__link:hover {
    opacity: 0.6;
  }
  .main .sections__link:active {
    opacity: 0.3;
  }
  .main .programm {
    text-align: center;
    background-image: url("../img/index-background-mobile.svg");
    background-color: #5eaa2f;
    background-repeat: no-repeat;
    background-position: top;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .programm__text {
    color: #fff;
    font-size: 36px;
    margin: 0;
    line-height: 36px;
    padding-top: 27px;
    padding-bottom: 25px;
  }
  .main .programm__text2 {
    color: #fff;
    margin: 2;
    font-size: 14px;
    line-height: 14px;
  }
  .main .programm__button {
    display: -ms-grid;
    display: grid;
    padding: 11px 0;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    font-family: inherit;
    font-size: 14px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    background-color: #68B738;
  }
  .main .programm__button:hover {
    background-color: #5eaa2f;
  }
  .main .programm__pic {
    width: 280px;
    height: 270px;
  }
  .main .index-cotalog__item1 {
    padding: 21px 33px 18px 19px;
    height: auto;
    background-color: #F2F2F2;
    display: -ms-grid;
    display: grid;
    margin-bottom: 20px;
  }
  .main .index-cotalog__item2 {
    padding: 24px 33px 18px 19px;
    height: auto;
    background-color: #F2F2F2;
    display: -ms-grid;
    display: grid;
    margin-bottom: 27px;
  }
  .main .index-cotalog__bar {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
  .main .index-cotalog__heading {
    font-weight: 300;
    padding: 6px 0;
    margin: 0;
    line-height: 38px;
  }
  .main .index-cotalog__text {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    margin: 0;
    line-height: 18px;
    padding: 22px 0;
    border-bottom: 1px solid #d9d9d9;
  }
  .main .index-cotalog__link {
    text-decoration: none;
    font-size: 16px;
    color: #000;
  }
  .main .index-cotalog__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .index-cotalog__pic1 {
    width: 50px;
    height: 53px;
    margin-right: 19px;
  }
  .main .index-cotalog__pic2 {
    width: 67px;
    height: 50px;
    margin-right: 11px;
  }
  .main .index-cotalog__long {
    padding-top: 15px;
    cursor: pointer;
  }
  .main .index-cotalog__arrow {
    margin-left: 16px;
  }
  .main .item-list__heading {
    font-weight: lighter;
    font-size: 36px;
    line-height: 40px;
    margin: 0;
    padding-bottom: 38px;
  }
  .main .item-list__text {
    font-family: "Arial", sans-serif;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
  }
  .main .item-row {
    margin: 0;
    margin-bottom: 22px;
    padding: 0;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .item-row__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .item-row__image {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }
  .main .item-row__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .item-row__item--first {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    list-style: none;
  }
  .main .item-row__item--second {
    margin-bottom: 20px;
    position: relative;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .item-row__item--third {
    margin-bottom: 20px;
    position: relative;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .item-row__item--forth {
    margin-bottom: 20px;
    position: relative;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .example {
    background-color: #F2F2F2;
  }
  .main .example__container {
    margin: 0 auto;
    padding-top: 33px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .example__text {
    margin: 0;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 25px;
  }
  .main .example__small {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    background-color: #F2F2F2;
    margin: 0 20px;
    padding: 0 10px;
    position: relative;
    bottom: 10px;
  }
  .main .example__common {
    width: calc(50% - 21px);
    text-align: center;
  }
  .main .example__br {
    padding-top: 15px;
    padding-bottom: 19px;
    font-size: 24px;
    line-height: 24px;
    position: relative;
    font-family: "Oswald", "Arial", sans-serif;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
  }
  .main .example__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 25px;
  }
  .main .example__num {
    font-size: 14px;
    line-height: 20px;
  }
  .main .example__num2 {
    font-size: 14px;
    list-style: 20px;
  }
  .main .example__space {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .example__image {
    width: 311px;
    height: 232px;
  }
  .main .example__taggle {
    -webkit-appearance: none;
    width: 84px;
    height: 14px;
    margin: 0 13px;
    border: 1px solid #dcdcdc;
    background-color: #fff;
    border-radius: 10px;
  }
  .main .example__button {
    padding: 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #F2F2F2;
  }
  .main .example__conect {
    margin-top: 27px;
    text-align: center;
  }
  .main .example__div {
    margin-bottom: 42px;
  }
  .main .example__content {
    margin: 0 auto;
  }

  .footer {
    background-color: #F2F2F2;
  }
  .footer__map {
    background-color: #F2F2F2;
  }
  .footer__section2 {
    background-color: #F2F2F2;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 20px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
  .footer__item {
    list-style: none;
    margin-right: 36px;
  }
  .footer__item:last-child {
    margin-right: 0;
  }
  .footer__link {
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #444;
  }
  .footer__link:active {
    opacity: 0.3;
  }
  .footer__link-logo {
    display: block;
  }
  .footer__link-logo:hover {
    background-image: url("../img/Лого_html-hover.svg");
    background-repeat: no-repeat;
    display: block;
  }
  .footer__link-logo:active {
    background-image: url("../img/Лого_html-hover.svg");
    background-repeat: no-repeat;
    display: block;
    opacity: 0.3;
  }
  .footer__div {
    padding: 22px 0;
    fill: #666;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .footer__container {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__logo {
    padding-bottom: 29px;
    padding-top: 39px;
  }
  .footer__logo:hover {
    opacity: 0.8;
  }
  .footer__logo:active {
    opacity: 0.6;
  }
  .footer__social--vk {
    fill: #444;
    width: 28.89px;
    height: 26px;
  }
  .footer__social--inst {
    color: #444;
    width: 22.78px;
    height: 22.78px;
  }
  .footer__social--fb {
    color: #444;
    width: 20px;
    height: 26.97px;
  }
  .footer__social:hover {
    fill: #5eaa2f;
  }
  .footer__social:active {
    fill: #5eaa2f;
    opacity: 0.3;
  }

  .sections {
    display: none;
  }

  .none {
    display: none;
  }

  .show {
    display: block;
  }

  .close {
    position: absolute;
    width: 29px;
    height: 29px;
  }

  .desktop-img {
    display: none;
  }

  .catalog-body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    text-transform: uppercase;
  }

  .container2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .fr {
    margin: auto 0;
  }

  .main-catalog .product-catalog__heading {
    padding: 27px 0 41px;
    font-weight: lighter;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    text-transform: none;
  }
  .main-catalog .product-catalog__list {
    padding: 0;
    margin: 0;
  }
  .main-catalog .product-catalog__item {
    list-style: none;
    padding-bottom: 25px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
  }
  .main-catalog .product-catalog__conection {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: -webkit-min-content 1fr;
    -ms-grid-columns: min-content 1fr;
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
  }
  .main-catalog .product-catalog__end {
    text-align: end;
  }
  .main-catalog .product-catalog__unit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-catalog .product-catalog__description {
    margin: 0;
    padding-bottom: 18px;
    font-size: 16px;
    line-height: 20px;
    font-weight: lighter;
  }
  .main-catalog .product-catalog__line {
    font-family: Arial, sans-serif;
    text-transform: none;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
  }
  .main-catalog .product-catalog__order {
    padding: 6px 0 8px;
    display: -ms-grid;
    display: grid;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: #68B738;
  }
  .main-catalog .product-catalog__order:hover {
    background-color: #5eaa2f;
  }
  .main-catalog .product-catalog__image {
    margin: 26px 0 23px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-catalog .product-catalog__another {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .main-catalog .product-catalog__small {
    margin-top: 0;
    margin-bottom: 21px;
    font-family: Arial, sans-serif;
    text-transform: none;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
  .main-catalog .product-catalog__link {
    text-decoration: none;
    color: #000;
    padding: 6px 0 8px;
    display: -ms-grid;
    display: grid;
    background-color: #F2F2F2;
    text-align: center;
  }
  .main-catalog .product-catalog__link:hover {
    background-color: #ebebeb;
  }
  .main-catalog .additional__desktop {
    display: none;
  }
  .main-catalog .additional__heading {
    font-size: 24px;
    line-height: 24px;
    font-weight: lighter;
  }
  .main-catalog .additional__unit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 14px;
    text-transform: none;
  }
  .main-catalog .additional__description {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
  }
  .main-catalog .additional__block {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 13px 0 19px;
  }
  .main-catalog .additional__order {
    padding: 6px 0 8px;
    display: -ms-grid;
    display: grid;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: #68B738;
  }
  .main-catalog .additional__order:hover {
    background-color: #5eaa2f;
  }
  .main-catalog .additional__background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 39px 0 35px;
  }
  .main-catalog .sections__container {
    padding: 0;
    margin: 0;
    border-top: 1px solid #dcdcdc;
  }
  .main-catalog .sections__li {
    list-style: none;
    border-bottom: 1px solid #dcdcdc;
  }
  .main-catalog .sections__link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    line-height: 20px;
    padding: 23px 20px;
  }
  .main-catalog .sections__link--disabled {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    line-height: 20px;
    padding: 23px 20px;
  }
  .main-catalog .sections__link:hover {
    opacity: 0.6;
  }
  .main-catalog .sections__link:active {
    opacity: 0.3;
  }
}