@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img {
  top: 55px;
  left: 110px;
}

.container {
  font-family: "Oswald", sans-serif;
  margin: 0 auto;
  width: 1220px;
}

.main-header {
  width: 100%;
  font-family: "Oswald", sans-serif;
  margin: 0 auto;
}
.main-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 71px;
}
.main-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
}
.main-header a {
  text-decoration: none;
}
.main-header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-header__logo {
  margin-top: 55px;
}
.main-header__link {
  font-size: 20px;
  padding-left: 35px;
  list-style: none;
}